body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #7581a1;
  width: 100%;
}

a {
  text-decoration: none;
}

/* Wrap */
.wrap {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
.header {
  width: 100%;
  background-image: url(../img/header-bigbg.png);
  background-repeat: no-repeat;
  padding-top: 53px;
  padding-bottom: 320px;
  position: relative;
}

.header__block {
  display: flex;
  align-items: center;
  margin-bottom: 305px;
}

.header__logo {
  display: block;
  width: 191px;
  height: 49px;
  background-image: url(../img/logo/logo_1.png);
  background-repeat: no-repeat;
  margin-left: 408px;
}

.header__title {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: -2.5px;
  line-height: 1.1;
  max-width: 600px;
  margin-bottom: 72px;
  color: #192b59;  
}

.header__screen {
  display: block;
  position: absolute;
  right: 0;
  top: 189px;
  background-image: url(../img/header-screen.png);
  background-repeat: no-repeat;
  width: 895px;
  height: 740px;
  overflow-x: hidden;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  padding-left: 21px;
  padding-right: 20px;
}

.nav__link:first-child {
  margin-left: 127px;
}

.nav__item {
  color: #6e7ea9;
  letter-spacing: 2px;
}

.nav__menu {
  border: none;
  background-color: transparent;
  display: none;
}

.nav__menu:focus {
  outline: none;
}

.nav__menu svg {
  width: 35px;
  height: 35px;
  fill: #192b59;
}

/* Button */
.btn {
  color: #fff;
  background-color: #1085e4;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  padding: 20px 40px;
  border: 1px solid #1085e4;
  border-radius: 30px;
  transition: .3s;
}

.btn:hover {
  color: #1085e4;
  background-color: #fff;
}

.btn:focus {
  outline: none;
}

.btn--first {
  letter-spacing: 1.7px;
  font-weight: 400;
  padding: 21px 53px;
}

.btn--secondary {
  color: #7e8bae;
  background-color: #cbdbe8;
  border: 1px solid #cbdbe8;
  margin-left: 15px;
}

.btn--secondary:hover {
  color: #cbdbe8;
  background-color: #7e8bae;
}

.btn--info {
  color: #8085b1;
  background-color: transparent;
  border: 1px solid #dce1e5;
  padding-left: 64px;
  padding-right: 64px;
}

.btn--info:hover {
  color: #fff;
  background-color: #94b4cc;
  border: 1px solid #94b4cc;
}

.btn--plan {
  padding-left: 64px;
  padding-right: 64px;
}

.btn--plan:hover {
  color: #1085e4;
  background-color: transparent;  
}

/* Company */
.company {
  background-image: url(../img/header-smbg.png);
  background-repeat: no-repeat;
  margin: 0;
}

.company__list {
  display: flex;
  flex-wrap: wrap;
  height: 275px;
  align-items: center;
  list-style-type: none;
  padding-left: 18vw;
}

.company__item {
  width: 201px;
  height: 69px;
  padding: 60px;
}

.company__item--one {
  padding-bottom: 40px;
}

.company__item--two {
  padding-left: 43px;
  padding-right: 77px;
  padding-bottom: 73px;
}

.company__item--three {
  padding-left: 25px;
  padding-right: 95px;
  padding-bottom: 43px;
}

.company__item--four {
  padding-left: 10px;
  padding-right: 110px;
}

/* Grid */
.grid__block {
  position: relative;
  display: grid;
  grid-template-areas: "a b c"
                       "d b c"
                       "d f g"
                       "e f g"
                       "e h h";
  grid-template-columns: 1fr 1fr 1fr;                     
  grid-gap: 35px;
  max-width: 1110px;
  height: 1218px;
  margin: 0 0 0 400px;
}

.grid__title {
  grid-area: a;
  font-size: 40px;
  color: #192b59;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 1.3;
  padding-top: 67px;
  padding-left: 4px;
}

.grid__subtitle {
  display: block;
  font-size: 14px;
  color: #1085e4;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.grid__item {
  position: relative;
  max-width: 100%;
  height: 342px;
  text-align: center;
  box-shadow: 2px 8px 10px #f4f4f4;
  margin: 0;
}

.grid__item--one {
  grid-area: b;
  margin-top: 154px;
}

.grid__item--two {
  grid-area: c;
  margin-top: 144px;
}

.grid__item--three {
  grid-area: d;
  margin-top: -44px;
}

.grid__item--four {
  grid-area: e;
  margin-top: -160px;
  margin-left: 30px;
}

.grid__item--five {
  grid-area: f;
  margin-top: -104px;
}

.grid__item--six {
  grid-area: g;
  margin-top: -100px;
}

.grid__icon {
  display: block;
  background-repeat: no-repeat;
  margin: 0 0 33px 26px;
  height: 92px;
  background-position: center;
}

.grid__icon--one {
  background-image: url(../img/icon/icon_2.png); 
  background-size: 73px 81px;
  margin-bottom: 20px;
}

.grid__icon--two {
  background-image: url(../img/icon/icon_3.png);
  background-size: 89px 85px;
  margin-bottom: 36px;
}

.grid__icon--three {
  background-image: url(../img/icon/icon_1.png);
  background-size: 92px 82px;
  margin-bottom: 26px;
}

.grid__icon--four {
  background-image: url(../img/icon/icon_4.png);
  background-size: 102px 92px;
  margin-bottom: 40px;
}

.grid__icon--five {
  background-image: url(../img/icon/icon_5.png);
  background-size: 85px 90px;
  margin-bottom: 36px;
}

.grid__icon--six {
  background-image: url(../img/icon/icon_6.png);
  background-size: 100px 87px;
  margin-bottom: 34px;
}

.grid__name {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -.7px;
  color: #192b59;
  margin-bottom: 18px;
}

.grid__text {
  font-size: 16px;
  font-weight: 200;
  color: #7581a1;
  letter-spacing: -.1px;
  line-height: 1.7;
}

.grid__link {
  font-size: 14px;
  font-weight: 600;
  color: #1085e4;
}

.grid__footer {
  width: 100%;
  grid-area: h;
  margin-left: 26px;
}

.grid__paragraph {
  font-size: 16px;
  font-weight: 200;
  color: #7581a1;
  line-height: 1.6;
  margin-top: -189px;
}

.grid__info {
  font-size: 14px;
  font-weight: 200;
  color: #1085e4;
}

.grid__autor {
  font-size: 16px;
  font-weight: 800;
  color: #192b59;
}

/* Subscribe */
.subscribe {
  background: rgba(10,32,144,1);
  background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(246,41,12,1) 0%, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
  background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(246,41,12,1) 0%, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(246,41,12,1) 0%, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(246,41,12,1) 0%, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
  background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(246,41,12,1) 0%, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
  height: 521px;
  width: 100%;
}

.subscribe__intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subscribe__block {
  display: flex;
  flex-direction: column;
  flex-basis: 49%;
  margin-top: 76px;
}

.subscribe__title {
  font-size: 50px;
  color: #fff;
  font-weight: 400;
  letter-spacing: -.9px;
  margin-bottom: 16px;
}

.subscribe__subtitle {
  display: block;
  font-size: 14px;
  color: #029fe8;
  font-weight: 700;
  letter-spacing: 2.9px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.subscribe__text {
  font-size: 16px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.8;
  margin-bottom: 33px;
}

.subscribe__email {
  position: relative;
}

.subscribe__input {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #000;
  border: 2px solid #3f5cb1;
  border-radius: 45px;
  background-color: transparent;
  padding: 25px 230px 25px 37px;
  box-sizing: border-box;
}

.subscribe__input:focus {
  outline: none;
}

.subscribe__input::-webkit-input-placeholder {color:#b1c3ee;}
.subscribe__input::-moz-placeholder          {color:#b1c3ee;}
.subscribe__input:-moz-placeholder           {color:#b1c3ee;}
.subscribe__input:-ms-input-placeholder      {color:#b1c3ee;}

.subscribe__btn {
  font-size: 14px;
  letter-spacing: 3px;
  position: absolute;
  top: 9px;
  right: 8px;
  padding: 17px 46px;
}

.subscribe__screen {
 padding-top: 56px;
}

/* Software */
.software {
  position: relative;
}

.software__screen {
  display: block;
  position: absolute;
  left: 2px;
  top: 46px;
  background-image: url(../img/software-img.png);
  background-repeat: no-repeat;
  width: 926px;
  height: 955px;
}

.software__block {
  display: flex;
  justify-content: flex-end;
}

.software__box {
  flex-basis: 55%;
  padding: 109px 0 156px 0;
  z-index: 1;
}

.software__icon {
  display: block;
  background-image: url(../img/software.png);
  background-repeat: no-repeat;
  background-position: -34px 0;
  width: 145px;
  height: 105px;
}


.software__title {
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
  max-width: 580px;
  margin-top: 5px;
  margin-bottom: 28px;
  margin-left: 3px;
  letter-spacing: -.9px;
}

.software__text {
  font-size: 15px;
  font-weight: 400;
  color: #7581a1;
  letter-spacing: .1px;
  line-height: 1.75;
}

.software__list {
  margin-top: 33px;
  height: 323px;
  overflow: hidden;
  overflow-y: scroll;
}

.software__list::-webkit-scrollbar { width: 4px; height: 4px;}
.software__list::-webkit-scrollbar-button {  background-color: #1085e4; }
.software__list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.software__list::-webkit-scrollbar-thumb { height: 50px; background-color: #1085e4; border-radius: 10px;}

.software__subtitle {
  font-size: 16px;
  font-weight: 700;
  color: #5a6789;
  margin-bottom: 12px;
}

.software__note {
  font-size: 14px;
  font-weight: 400;
  color: #7581a1;
  margin-left: 0;
  margin-bottom: 55px;
  line-height: 1.8;
}

/* Stat */
.stat {
  width: 100%;
  background-color: #edf6ff;
  padding: 116px 0 96px 0;
  position: relative;
}

.stat__title {
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.2;
  letter-spacing: -1.5px;
  padding-top: 8px;
  padding-left: 20px;
}

.stat__subtitle {
  display: block;
  font-size: 16px;
  font-weight: 800;
  color: #1085e4;
  margin-bottom: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.stat__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 38px 68px 0 80px;
}

.stat__number {
  font-size: 12px;
  font-weight: 900;
  color: #1085e4;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.stat__item {
  display: block;
  font-size: 60px;
  font-weight: 600;
  color: #bacbdc;
  margin-bottom: 10px;
}

.stat__circle {
  display: block;
  position: absolute;
  width: 472px;
  height: 765px;
  left: -40px;
  bottom: -340px;
  background-image: url(../img/circle-gray.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.stat__rhombus {
  display: block;
  position: absolute;
  width: 550px;
  height: 665px;
  right: 0px;
  top: -190px;
  background-image: url(../img/rhombus-gray.svg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow-x: hidden;
}

/* App */
.app {
  position: relative;
  padding-bottom: 98px;
}

.app__intro {
  color: rgb(0, 0, 0, .04);
  font-size: 300px;
  font-weight: 900;
  line-height: 0;
  position: absolute;
  left: -36px;
  right: 0;
  top: 160px;
  margin: 0;
  text-align: center;
  letter-spacing: -1px;
}

.app__block {
  width: 56%;
  padding-top: 75px;
}

.app__title {
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
  margin-bottom: 34px;
  line-height: 1.2;
  letter-spacing: -2px;
}

.app__text {
  color: #7581a1;
  margin-left: 5px;
  line-height: 1.6;
  letter-spacing: 0px;
  margin-bottom: 33px;
}

.app__subtitle {
  font-size: 16px;
  font-weight: 700;
  color: #c4d2dd;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.app__list {
  padding: 0;
  list-style-type: none;
  margin-top: -10px;
  margin-left: -16px;
}

.app__link { 
  display: inline-block;
}

.app__mobile {
  display: block;
  background-repeat: no-repeat;
  background-image: url(../img/app.png);
  width: 185px;
  height: 77px;
}

.app__mobile--android {
 background-position: 0 0;
}

.app__mobile--ios {
 background-position: -191px 0;
}

.app__video {
  position: absolute;
  top: 60px;
  right: 240px;
}

/* Analytics */
.analytics {
  background-image: url(../img/analytics_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 690px;
}

.analytics__input {
  display: flex;
  justify-content: space-around;
}

.analytics__img {
  position: relative;
  width: 45%;
}

.analytics__screen {
  position: absolute;
  top: 165px;
  left: -10px;
}

.analytics__block {
  width: 55%;
  padding-top: 116px;
}

.analytics__icon {
  display: block;
  width: 145px;
  height: 105px;
  margin-left: -30px;
}

.analytics__title {
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
  letter-spacing: -1.4px;
  margin: 0;
  padding-top: 8px;
  padding-left: 6px;
}

.analytics__text {
  font-weight: 400;
  color: #7581a1;
  line-height: 1.6;
  letter-spacing: -.4px;
  padding-top: 14px;
}

.analytics__btn {
  margin-top: 58px;
}

/* Control */
.control {
  background-image: url(../img/control_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 690px;
}

.control__input {
  display: flex;
  justify-content: space-around;
}

.control__block {
  width: 55%;
  padding-top: 116px;
}

.control__icon {
  display: block;
  width: 145px;
  height: 105px;
}

.control__title {
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
  letter-spacing: -1.8px;
  margin: 0;
  padding-top: 10px;
  padding-left: 32px;
}

.control__text {
  font-weight: 400;
  color: #7581a1;
  line-height: 1.6;
  letter-spacing: -.4px;
  padding-top: 14px;
  padding-left: 36px;
}

.control__btn {
  margin-top: 58px;
  margin-left: 38px;
}

.btn--control {
  padding-left: 60px;
  padding-right: 60px;
}

.control__img {
  position: relative;
  width: 45%;
}

.control__screen {
  position: absolute;
  top: 141px;
  left: 30px;
}

/* Screen */
.screen {
  background-color: #edf6ff;
  padding: 120px 0 0 0;
  text-align: center;
}

.screen__title {
  font-size: 40px;
  font-weight: 600;
  color: #192b59;
  text-align: center;
  margin: 0 auto;
  line-height: 1.2;
  letter-spacing: -1.1px;
}

.screen__subtitle {
  display: block;
  font-size: 18px;
  font-weight: 800;
  color: #1085e4;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.screen__img {
  margin-top: 69px;
  margin-bottom: 120px;
}

/* Clients */
.clients {
  background-image: url(../img/vector.svg);
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: 0 0; 
}

.clients__title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  padding-top: 72px;
  line-height: 1.2;
  letter-spacing: -1.7px;
}

.clients__subtitle {
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #85c8ff;
  line-height: 1.2;
  letter-spacing: 4.1px;
  margin-bottom: 22px;
}

.clients__box {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

.clients__item {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  flex-basis: 26%;
  margin-top: 59px;
  box-shadow: 0 9px 20px #f4f4f4;
}

.clients__text {
  font-size: 14px;
  font-weight: 200;
  color: #8085b1;
  line-height: 1.7;
  letter-spacing: .1px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 20px;
}

.clients__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6px;
}

.clients__avatar {
  border-radius: 150px;
  padding-top: 10px;
}

.clients__content {
  padding-left: 20px;
}

.clients__name {
  font-size: 22px;
  font-weight: 600;
  color: #000958;
  line-height: 1.2;
  letter-spacing: -1.1px;
  margin-bottom: 8px;
}

.clients__position {
  font-size: 14px;
  font-weight: 800;
  color: #1085e4;
  line-height: 1;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-top: 0px;
}

/* Plan */
.plan {
  text-align: center;
  padding: 126px 0 88px 0;
} 

.plan__box {
  display: flex;
  justify-content: space-around;
}

.plan__price {
  text-align: center;
  background-color: #edf4fb;
  background-image: url(../img/triangular.png);
  flex-basis: 32%;
  padding: 20px 0 102px 0;
}

.plan__price--active {
  background-color: #192b59;
  background-image: none;
  color: #fff;
  margin-left: 30px;
  margin-right: 30px;
}

.plan__title {
  font-size: 40px;
  font-weight: 600;
  color: #192b59;
  text-align: center;
  margin: 0 auto 80px;
  line-height: 1.2;
  letter-spacing: -1.1px;
}

.plan__subtitle {
  display: block;
  font-size: 18px;
  font-weight: 800;
  color: #1085e4;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.plan__name {
 color: #000958;
 font-size: 70px;
 letter-spacing: -0.8px;
 margin-top: 40px;
 margin-bottom: 14px;
}

.plan__name--active {
  color: #fff;
}

.plan__dollar {
 font-size: 20px;
}

.plan__mo {
 font-size: 20px;
}

.plan__start {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.8px;
  color: #0084ff;
  margin-bottom: 45px;
}

.plan__grope {
  padding-left: 0;
}

.plan__item {
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  margin-left: 0;
  margin-bottom: 25px;
}

.plan__item:last-child {
  margin-bottom: 64px;
}

/* Team */
.team {
  width: 100%;
  height: 850px;
  text-align: center;
  background-image: url(../img/team.png);
  background-position: center;
  background-repeat: no-repeat;
}

.team__title {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
  letter-spacing: -1.7px;
  padding-top: 114px;
}

.team__subtitle {
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #85c8ff;
  line-height: 1.2;
  letter-spacing: 4.1px;
  padding-bottom: 23px;
}

.team__box {
  display: flex;
  justify-content: space-between;
}

.team__item {
  position: relative;
  background-color: #fff;
  flex-basis: 31%;
  box-shadow: 0 9px 20px #f4f4f4;
  margin-top: 104px;
  padding: 0px 31px 48px 31px;
  box-sizing: border-box;
}

.team__avatar {
  position: absolute;
  top: -88px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.team__prof {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.8px;
  color: #1a88e1;
  margin-top: 210px;
}

.team__name {
  font-size: 26px;
  font-weight: 600;
  color: #192b59;
  margin-top: 0px;
}

.team__btn {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: none;
  border-radius: 100%;
  background-color: #f3f3f3;
  transition: .3s;
}

.team__btn:focus {
  outline: none;
}

.team__btn:hover {
  background-color: #1a88e1;
}

.team__plus {
  display: block;
  background-image: url(../img/btn/btn_all.png);
  background-repeat: no-repeat;
  background-position: -7px -2px;
  width: 21px;
  height: 21px;
  margin: 14px auto;
}

.team__plus:hover {
 background-position: -7px -32px;
}

.team__social {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.team__btn--fb {
  display: block;
  align-self: center;
  background-image: url(../img/btn/btn_all.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 21px;
  background-position: -34px 2px;
  margin: 0 auto 5px;
}

.team__btn--tw {
  display: block;
  align-self: center;
  background-image: url(../img/btn/btn_all.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 21px;
  background-position: -62px 2px;
  margin: 0 auto 5px;
}

.team__btn--be {
  display: block;
  align-self: center;
  background-image: url(../img/btn/btn_all.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 21px;
  background-position: -89px 2px;
  margin: 0 auto 5px;
}

.team__btn--web {
  display: block;
  align-self: center;
  background-image: url(../img/btn/btn_all.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 21px;
  background-position: -116px 2px;
  margin: 0 auto 5px;
}

/* Form */
.form {
  background-image: url(../img/form_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 840px;
}

.form__flex {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

.form__img {
  margin-left: -10px;
  margin-top: 237px;
}

.form__box {
  margin-left: 80px;
}

.form__title {
  font-size: 50px;
  color: #192b59;
  font-weight: 600;
  margin-top: 110px;
  margin-bottom: 50px;
  letter-spacing: -1px;
}

.form__contact {
  display: flex;
  flex-direction: column;
}

.form__item {
  margin-bottom: 19px;
  position: relative;
}

.form__item:last-child {
  margin-bottom: 40px;
}

.form__item::after {
  content: '';
  display: block;
  position: absolute;
  right: 30px;
}

.form__item--name::after {
  background-image: url(../img/icon/name.png);
  width: 13px;
  height: 15px;
  top: calc(50% - 7px);
}

.form__item--mail::after {
  background-image: url(../img/icon/mail.png);
  width: 14px;
  height: 11px;
  top: calc(50% - 5px);
}

.form__item--info::after {
  background-image: url(../img/icon/pen.png);
  width: 14px;
  height: 15px;
  top: 28px;
}

.form__text {
  font-size: 14px;
  border: 2px solid #dce4ce;
  border-radius: 35px;
  padding: 26px 80px 26px 37px;
  width: 512px;
  box-sizing: border-box;
}

.form__text--message {
  padding: 15px 25px;
  min-height: 160px;
  resize: none;
}

.form__text::-webkit-input-placeholder {color:#8995b3;}
.form__text::-moz-placeholder {color:#8995b3;}
.form__text:-moz-placeholder {color:#8995b3;}
.form__text:-ms-input-placeholder {color:#8995b3;}
        
.form__text:focus {
  outline: none;
} 

.form__btn {
  margin-left: 10px;
  position: relative;
  padding: 22px 50px 22px 75px;
  max-width: 232px;
}

.form__btn::before {
  content: '';
  display: block;
  background-image: url(../img/icon/letter.png);
  position: absolute;
  left: 50px;
  top: 20px;
  width: 23px;
  height: 18px;
}

/* Footer */
.footer {
  background-color: #192b59;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.footer__box {

}

.footer__title {
  margin-top: 10px;
  padding-left: 86px;
  font-size: 17px;
  color: #b6bae0;
}

.footer__brend {
  font-size: 16px;
  color: #1085e4;
  text-transform: uppercase;
}

.footer__social {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-right: 74px;
}

.footer__icon {
  display: inline-block;
  color: #fff; 
  width: 22px;
  height: 21px;
}

.footer__img {
  list-style-type: none;
  text-decoration: none;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 30px 15px 45px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 5px 6px #f4f4f4;
}

.modal__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.modal__link {
  margin-bottom: 12px;
}

.modal__link:last-child {
  margin-top: 35px;
}

.modal__item {
  color: #6e7ea9;
  letter-spacing: 2px;
}

.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 21px;
  top: 15px;
  font-size: 35px;
  color: #6e7ea9;
  opacity: .2;
  transition: .3s;
}

.modal__close:hover {
  opacity: 1;
}

.modal__close:focus {
  outline: none;
}

@media (max-width: 1650px) {
  .header__logo {
    margin-left: 308px;
  }

  .header__screen {
    width: 775px;
  }

  .grid__block {
    margin: 0 0 0 300px;
  }

  .software__screen {
    width: 626px;
  }

  .form__text {
    padding-right: 110px;
  }
  
}

@media (max-width: 1600px) {
  .wrap {
    min-width: 500px;
  }

  .analytics__screen {
    left: -120px;
  }

  .app__video {
    width: 450px;
    height: 420px;
  }

  .company__list {
    padding-left: 10vw;
  }
}

@media (max-width: 1500px) {
  .header__logo {
    margin-left: 158px;
  }

  .header__screen {
    width: 655px;
  }

  .company__list {
    padding-left: 5vw;
  }

  .grid__block {
    margin-left: 150px;
  }

  .analytics__screen {
    left: -80px;
  }
}

@media (max-width: 1400px) {
  .company__list {
    padding-left: 1vw;
  }

  .grid__block {
    margin-left: 100px;
  }

  .software__screen {
    width: 556px;
  }

  .software__box {
    padding: 9px 0 6px 0;
  }

  .stat__circle {
    display: none;
  }

  .stat__rhombus {
    display: none;
  }

  .app__intro {
    display: none;
  }

  .app__video {
    right: 140px;
  }

  .app__screen {
    width: 460px;
    height: 415px;
  }

  .btn {
    border-color: #f4f4ea;
  }

  .screen {
    padding-top: 50px;
  }

  .screen__img {
    width: 950px;
    margin-top: 20px;
    margin-bottom: 90px;
  }
}

@media (max-width: 1300px) {
  .header__logo {
    margin-left: 58px;
  }

  .company__list {
    justify-content: center;
  }

  .company__item {
    width: 30%;
    height: 69px;
    padding: 20px 60px 0;
  }

  .grid__block {
      margin-left: 30px;
  }

  .software__box {
    flex-basis: 50%;
  }

  .app__video {
    right: 80px;
  }

  .analytics__screen {
    left: 0px;
  }

}

@media (max-width: 1200px) {
  .header__logo {
    margin-left: 38px;
  }

  .nav__link:first-child {
    margin-left: 37px;
  }

  .header {
    padding-bottom: 120px;
  }

  .header__screen {
    width: 550px;
    height: 550px;
  }

  .grid__block {
    margin-left: 5px;
  }

  .grid__paragraph {
    padding-right: 45px;
  }

  .subscribe__intro {
    justify-content: center;
  }

  .subscribe__screen {
    padding-left: 46px;
  }

  .software__screen {
    width: 500px;
  }

  .app__video {
    right: 40px;
  }

  .control__screen {
    left: 0px;
  }

  .plan {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .plan__title {
    margin-bottom: 40px;
  }

  .form__img {
    margin-left: 40px;
  }

  .form__box {
    margin-left: 40px;
  }
}

@media (max-width: 1100px) {
  .header__block {
    justify-content: center;
    margin-bottom: 100px;
  }

  .nav {
    display: none;
  }

  .nav__menu {
    display: block;
  }

  .header__screen {
    display: none;
  }

  .header__title {
    font-size: 50px;
    margin: 0 auto;
    width: 100%;
  }

  .header__group {
    margin-top: 50px;
    text-align: center;
  }

  .company__item {
    height: 50%;
  }

  .grid__block {
    grid-template-areas: "a a"
                         "b c"
                         "d e"
                         "f g"
                         "h h";
    grid-template-columns: 1fr 1fr;
    margin: 0 0 300px;
  }

  .grid__title {
    text-align: center;
    padding-top: 0;
  }

  .grid__item {
    margin: 0;
  }

  .grid__footer {
    margin: 0;
    padding: 0 20px;
  }

  .grid__paragraph {
    margin: 0;
  }

  .software {
    padding: 0 60px;
  }

  .software__screen {
    display: none;
  }

  .software__block {
    justify-content: center;
  }

  .software__box {
    flex-basis: 100%;
  }

  .software__list {
    height: 265px;
    max-width: 800px;
    margin-right: 50px;
  }

  .software__note {
    padding: 0 15px;
  }

  .stat {
    padding: 40px 0 40px 0;
  }

  .stat__title {
    font-size: 40px;
  }

 .app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 30px;
 }

 .app__block {
    width: 100%;
    text-align: center;
    padding-top: 200px;
 }

 .app__title {
   font-size: 40px;
 }

 .app__video {
    top: 20px;
    right: 15%;
    margin-bottom: 30px;
 }

 .app__screen {
   width: 50%;
   height: 50%;
 }

 .analytics__input {
    flex-direction: column-reverse;
 }

 .analytics__block {
  padding-top: 0px;
  width: 100%;
  text-align: center;
  }

  .analytics__img {
    width: 100%;
  }

  .analytics__screen {
    top: 30px;
    left: 30%;
  }

  .analytics__icon {
    margin: 0 auto;
  }

  .analytics__title {
    padding: 0;
    font-size: 40px;
  }

  .analytics__text {
    padding: 0 20px;
    color: #000;
  }

  .analytics__btn {
    margin-top: 28px;
  }

  .control__input {
    flex-direction: column;
  }

  .control {
    height: 770px;
  }

  .control__block {
    padding-top: 0px;
    width: 100%;
    text-align: center;
  }

  .control__img {
    width: 100%;
  }

  .control__screen {
    top: 30px;
    left: 25%;
  }

  .control__icon {
    margin: 0 auto;
  }

  .control__title {
    padding: 0;
    font-size: 40px;
  }

  .control__text {
    padding: 0 20px;
    color: #000;
  }

  .control__btn {
    margin-top: 28px;
  }
  
  .screen__img {
    width: 80%;
  }

  .team__box {
    justify-content: space-around;
  }

  .team__name {
    font-size: 16px;
  }

  .team__avatar {
    width: 280px;
  }

  .form {
    height: 640px;
  }

  .form__img {
    display: none;
  }

  .form__box {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .form__title {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .form__item::after {
    right: 30%;
  }

}

@media (max-width: 1000px) {
  .form__item::after {
    right: 27%;
  }
}

@media (max-width: 900px) {

  .header {
    padding-bottom: 60px;
  }

  .header__block {
      margin-bottom: 40px;
  }

  .header__title {
    font-size: 40px;
    text-align: center;
  }

  .company__item--one,
  .company__item--two {
    height: 30%;
    margin-top: 30px;
  }

  .company__item--three,
  .company__item--four {
    height: 30%;
    margin-bottom: 30px;
  }

  .subscribe__intro {
    flex-direction: column-reverse;
  }

  .subscribe__screen {
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
  }

  .subscribe__img {
    width: 240px;
    height: 280px;
  }

  .subscribe__block {
    flex-basis: 100%;
    text-align: center;
    margin-top: 0;
  }

  .subscribe__title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 40px;
  }

  .subscribe__subtitle {
    margin-bottom: 5px;
  }

  .subscribe__text {
    margin-bottom: 10px;
  }

  .subscribe__email {
    margin: 0 100px 0 100px;
  }

  .subscribe__input {
    padding: 17px 230px 17px 30px;
  }

  .subscribe__btn {
    padding: 12px 40px;
  }

  .software__title {
    font-size: 40px;
    text-align: center;
  }

  .software__icon {
    margin: 0 auto;
    background-position: 0;
  }

  .app__video {
    flex-basis: 100%;
    margin: 0 auto;
    right: 0;
    left: 0;
  }

  .app__screen {
    margin-left: 30%;
  }

  .analytics__screen {
    width: 50%;
  }

  .control {
    height: 700px;
  }

  .control__screen {
    width: 50%;
  }

  .clients {
    background-color: #1085E4;
    padding-bottom: 20px;
  }

  .clients__title {
    padding-top: 15px;
    font-weight: 600;
    text-align: center;
  }

  .clients__subtitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .clients__box {
    flex-direction: column;
  }

  .clients__item {
    margin: 10px auto 0;
    width: 50%;
  }

  .clients__text {
    margin: 0;
    padding: 0;
  }

  .clients__info {
    justify-content: center;
    padding: 0;
  }

  .plan {
    padding-top: 25px;
    padding-bottom: 10px;
  }

  .plan__box {
    flex-direction: column;
  }

  .plan__price {
    width: 55%;
    margin: 0 auto 15px;
    background-image: none;
    padding-bottom: 30px;
  }

  .plan__name {
    margin-top: 0;
  }

  .plan__start {
    margin-bottom: 15px;
  }

  .plan__item {
    margin-bottom: 15px;
  }

  .plan__item:last-child {
    margin-bottom: 30px;
  }

  .team {
    height: 510px;
  }

  .team__title {
    margin: 0;
    padding-top: 25px;
  }

  .team__avatar {
    width: 200px;
  }

  .team__prof {
    margin-top: 120px;
  }

  .team__item {
    padding-bottom: 28px;
  }

  .form__text {
    padding-right: 110px;
  }
  
  .form__item::after {
    right: 24%;
  }

}

@media (max-width: 800px) {
  .form__item::after {
    right: 21%;
  }
}

@media (max-width: 700px) {
  .header {
    padding-top: 23px;
  }

  .header__block {
    margin-bottom: 20px;
  }

  .company__item {
    width: 25%;
  }

  .company__img {
    width: 70%;
  }

  .grid__block {
    margin-bottom: 320px;
  }

  .subscribe__email {
    margin: 0 50px 0 50px;
  }

  .stat {
    padding: 20px 0;
  }

  .stat__list {
    padding: 0 65px;
  }

  .stat__item {
    font-size: 50px;
  }

  .team {
    background-position: top;
    height: 1200px;
  }

  .team__box {
    flex-direction: column;
  }

  .team__item {
    flex-basis: 100%;
    width: 50%;
    margin: 104px auto 0;
  }

  .form__item::after {
    right: 18%;
  }

  .footer__title {
    padding-left: 0;
  }

  .footer__social {
    padding-right: 20px;
  }
}

@media (max-width: 600px) {
  .wrap {
    min-width: 0;
  }

  .header__title {
    font-size: 30px;
    margin: 0;
  }

  .company__list {
    height: 200px;
  }

  .grid__block {
    grid-template-areas: "a"
                         "b" 
                         "c"
                         "d" 
                         "e"
                         "f" 
                         "g"
                         "h";
    grid-template-columns: 1fr;
    margin: 0 0 1400px;
  }

  .grid__title {
    font-size: 30px;
    padding: 0;
    margin: 0;  
  }

  .subscribe__title {
    font-size: 30px;
  }

  .software__title {
    font-size: 30px;
  }

  .stat__title {
    font-size: 30px;
    padding: 0;
  }

  .stat__list {
    padding: 0 25px;
  }

  .app__title {
    font-size: 30px;
    margin-bottom: 14px;
  }

  .analytics {
    height: 650px;
  }

  .analytics__title {
    font-size: 30px;
  }

  .control {
    height: 650px;
  }

  .control__title {
    font-size: 30px;
  }

  .screen {
    padding-top: 15px;
  }

  .screen__title {
    font-size: 30px;
  }

  .screen__subtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .screen__img {
    margin-bottom: 25px;
  }

  .clients__title {
    font-size: 30px;
  }

  .clients__subtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .plan__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .plan__subtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .team__title {
    font-size: 30px;
  }

  .team__subtitle {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .form {
    height: 580px;
  }

  .form__title {
    font-size: 30px;
  }

  .form__text {
    width: 300px;
  }

  .form__item::after {
    right: 28%;
  }

  .footer {
    flex-direction: column;
    height: 105px;
  }

  .footer__box {
    margin-top: 15px;
  }

  .footer__title {
    font-size: 14px;
    padding-left: 10px;
  }

  .footer__brend {
    font-size: 14px;
  }

  .footer__social {
    justify-content: space-around;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .header {
    padding-bottom: 20px;
  }

  .btn--secondary {
    display: block;
    margin: 50px auto 0;
    width: 50%;
  }

  .company {
    height: 300px;
  }

  .company__list {
    height: 300px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 25px;
  }

  .company__item {
    
    width: 55%;
    padding: 0;
  }

  .company__item--one {
    height: 20%;
    margin-top: 10px;
  }

  .company__item--two {
    height: 20%;
    margin-top: 0;
  }

  .company__item--three {
    height: 20%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .company__item--four {
    height: 20%;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .company__img {
    display: block;
    width: 50%;
    margin: 5px auto;
  }

  .grid__paragraph {
    font-size: 14px;
  }

  .subscribe {
    height: 560px;
  }

  .subscribe__text {
    font-size: 14px;
  }

  .subscribe__email {
    margin: 0;
  }

  .subscribe__input {
    margin-bottom: 5px;
  }

  .subscribe__btn {
    position: relative;
  }

  .software {
    padding: 0 30px;
  }

  .stat__list {
    padding: 0;
  }

  .stat__item {
    font-size: 40px;
  }

  .app__video {
    text-align: center;
    margin: 0;
  }

  .app__screen {
    margin-left: 0;
  }

  .plan__price {
    width: 70%;
  }

  .team__item {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .header__logo {
    margin-left: 0;
  }

  .grid__block {
    margin-bottom: 1150px;
  }

  .grid__item {
    height: 300px;
  }

  .subscribe {
    height: 590px;
  }

  .subscribe__text {
    letter-spacing: 1.4px;
  }

  .subscribe__input {
    padding-right: 30px;
  }

  .software {
    padding: 0 10px;
  }

  .software__list {
    margin-right: 10px;
  }

  .stat__item {
    font-size: 30px;
  }

  .stat__number {
    font-weight: 700;
    letter-spacing: .2px;
  }

  .app {
    padding: 0;
  }

  .app__video {
    height: 100%;
    width: 100%;
  }

  .app__screen {
    width: 18%;
    height: 8%;
  }

  .app__block {
    padding-top: 70px;
  }

  .app__text {
    font-size: 14px;
  }

  .analytics__screen {
    width: 60%;
  }

  .control__btn {
    margin-left: 0;
  }

  .control__screen {
    width: 60%;
  }

  .screen__title {
    letter-spacing: -1px;
  }

  .clients__item {
    padding: 0 15px;
    width: 70%;
  }

  .plan__name {
    font-size: 60px;
  }

  .plan__item {
    margin-bottom: 5px;
  }

  .btn--info {
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn--plan {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form__item::after {
    right: 10%;
  }
}

@media (max-width: 320px) {

}