body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #7581a1;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: -2.5px;
  line-height: 1.1;
  max-width: 600px;
  margin-bottom: 65px;
  color: #192b59;
}

/* Wrap */
.wrap {
  max-width: 1110px;
  margin: 0 auto;
}

/* Header */
.header__group a + a {
  margin-left: 15px;
}

/* Nav */
.nav {
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav>li {
  padding: 0 15px;
}

.nav__item {
  color: #6e7ea9;
}

/* Button */
.btn {
  color: #fff;
  background-color: #1085e4;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  padding: 20px 40px;
  border: 1px solid #1085e4;
  border-radius: 30px;
}

.btn:hover {
  color: #1085e4;
  background-color: #fff;
}

.btn--first {
  letter-spacing: 1.7px;
  font-weight: 400;
  padding: 21px 56px;
}

.btn--secondary {
  color: #7e8bae;
  background-color: #cbdbe8;
  border: 1px solid #cbdbe8;
}

.btn--secondary:hover {
  color: #cbdbe8;
  background-color: #7e8bae;
}

.btn--info {
  color: #8085b1;
  background-color: transparent;
  border: 1px solid #dce1e5;
}

.btn--info:hover {
  color: #fff;
  background-color: #1085e4;
}

.btn--plan {
  padding-left: 64px;
  padding-right: 64px;
}

/* Grid */
.grid__block h2 {
  font-size: 40px;
  color: #192b59;
  font-weight: 700;
}

.grid__block h2 span {
  display: block;
  font-size: 14px;
  color: #1085e4;
}

.grid__item h3 {
  font-size: 20px;
  font-weight: 600;
  color: #192b59;
}

.grid__item a {
  font-size: 14px;
  font-weight: 600;
  color: #1085e4;
}

/* Subscribe */

/* Software */
.softwear h2 {
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
}

.softwear dt {
  font-size: 16px;
  font-weight: 700;
  color: #5a6789;
}

.softwear dd {
  font-size: 14px;
  font-weight: 400;
  color: #7581a1;
}

/* Stat */
.stat {
  background-color: #edf6ff;
  padding: 116px 0 96px 0;
}

.stat__title {
  font-size: 50px;
  font-weight: 600;
  color: #192b59;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.2;
  letter-spacing: -1.5px;
}

.stat__subtitle {
  display: block;
  font-size: 16px;
  font-weight: 800;
  color: #1085e4;
  margin-bottom: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.stat__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 76px;
}

.stat li {
  font-size: 12px;
  font-weight: 700;
  color: #1085e4;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.stat__item {
  display: block;
  font-size: 60px;
  font-weight: 600;
  color: #bacbdc;
  margin-bottom: 23px;
  letter-spacing: 0;
}

/* App */
/* Analytics */
/* Screen */
.screen {
  background-color: #edf6ff;
  padding: 120px 0 0;
  text-align: center;
}

.screen__title {
  font-size: 40px;
  font-weight: 600;
  color: #192b59;
  text-align: center;
  margin: 0 auto;
  line-height: 1.2;
  letter-spacing: -1.1px;
}

.screen__subtitle {
  display: block;
  font-size: 18px;
  font-weight: 800;
  color: #1085e4;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.screen__img {
  margin-top: 70px;
  margin-bottom: -7px;
}

/* Plan */
.plan {
  text-align: center;
} 

.plan__box {
  display: flex;
  justify-content: space-around;
}

.plan__price {
  text-align: center;
  background-color: #f5faff;
  width: 350px;
  padding: 20px 0 102px 0;
}

.plan__price--active {
  background-color: #192b59;
  color: #fff;
  margin-left: 30px;
  margin-right: 30px;
}

.plan__title {
  font-size: 40px;
  font-weight: 600;
  color: #192b59;
  text-align: center;
  margin: 0 auto 80px;
  line-height: 1.2;
  letter-spacing: -1.1px;
}

.plan__subtitle {
  display: block;
  font-size: 18px;
  font-weight: 800;
  color: #1085e4;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.plan__name {
 color: #000958;
 font-size: 70px;
 letter-spacing: -0.8px;
 margin-top: 40px;
 margin-bottom: 14px;
}

.plan__name--active {
  color: #fff;
}

.plan__dollar {
 font-size: 20px;
}

.plan__mo {
 font-size: 20px;
}

.plan__start {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.8px;
  color: #0084ff;
  margin-bottom: 45px;
}

.plan__grope {
  padding-left: 0;
}

.plan__item {
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  margin-left: 0;
  margin-bottom: 25px;
}

.plan__item:last-child {
  margin-bottom: 64px;
}
